@import "../../assets/scss/mixins";

footer {
  padding: 70px 257px 104px 245px;
  background: #0a0808;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 230px 230px 230px 400px;
  gap: 10px;
}

.firstColumn {
  display: flex;
  flex-direction: column;

  .logoImg {
    width: 79px;
  }

  p {
    margin: 9px 0 25px 0;
    width: 205px;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #ffffff;
    opacity: 0.7;
  }

  span {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }

  .contacts {
    display: flex;
    gap: 10px;
  }
}

.secondColumn,
.thirdColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    opacity: 0.7;
    transition: 0.25s;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  }

  .active {
    color: #fff;
    opacity: 1;
  }
}

.fourthColumn {
  display: flex;
  flex-direction: column;

  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  .inputBlock {
    margin: 13px 0 15px 0;

    input {
      color: #fff;
      width: 262px;
      height: 55px;
      padding: 20px 30px;
      background-color: transparent;
      outline: none;
      opacity: 0.5;
      border: 2px solid #d64374;
      box-sizing: border-box;
      border-radius: 5px;
    }

    button {
      @include purpleButton;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      width: 125px;
      height: 55px;
      position: relative;
      left: -12px;
    }
  }

  .payments {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
